body{
    font-family: "Segoe UI", sans-serif;
    background-color: #EAF6FF;
    color: #232528;
}

header h1{
    font-size: 2.5rem;
    background-color: #2A2A72;
    color: #FFA400;
    font-weight: bold;
    margin: 0 auto 0.3rem;
    padding-bottom: 0.7rem;
    padding-top: 0.3rem;
    text-align: center;
    border-radius: 0 0 2rem 2rem;
}

main{
    margin: 0.7rem 20% 1rem;
}

#timers{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.timer{
    background-color: #009FFD;
    margin: 0.5rem;
    padding: 0.3rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 0.5rem;
}

.timer h2{
    font-size: 2rem;
    margin-bottom: 0.9rem;
    flex-grow: 1;
    border-bottom: 0.1rem black solid;
}

.timer div{
    margin-bottom: 1rem;
}

.bold{
    font-weight: bold;
}